.content-block {
  z-index: 100;
}
.page-main {
  background: #fff;
  color: #000;
  padding: 24px 19px 39px 26px;
}
.page-main-l {
  width: 224px;
}
.page-main-r {
  width: 720px;
}
.nav-head {
  padding: 5px;
  margin-bottom: 28px;
}
.nav-head .page-title,
.nav-head .page-subtitle {
  display: inline-block;
  vertical-align: bottom;
}
.nav-head .page-title {
  font-size: 25px;
  font-weight: 500;
  color: #D00;
}
.nav-head .page-subtitle {
  margin-left: 9px;
  color: #9E9E9E;
  font-size: 16px;
  font-weight: 100;
}
.member-tag {
  width: 286px;
  height: 56px;
  display: inline-block;
  background: url("../images/service/member-tag.png") 0 0 no-repeat;
  text-align: right;
}
.member-tag span {
  position: relative;
  padding-right: 64px;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  line-height: 48px;
  display: inline-block;
}
.member-tag span:before {
  position: absolute;
  left: -46px;
  top: 50%;
  margin-top: -14px;
  content: ' ';
  width: 26px;
  height: 26px;
  background: url("../images/service/icon_service.png") 0 0 no-repeat;
}
.nav-block .member-tag {
  margin: 0 0 20px -48px;
}
.nav-block .hit-box {
  border: 1px solid #dbdbdb;
}
.nav-main {
  margin-bottom: 15px;
}
.nav-main .nav-main-bar {
  padding-left: 45px;
}
.nav-main .nav-main-bar a:before {
  content: '>';
  font-family: 'Chaparral Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  left: -14px;
  top: 50%;
  margin-top: -16px;
  color: #000;
}
.nav-main a {
  display: inline-block;
  position: relative;
  color: #000;
  width: 100%;
}
.nav-main > li {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 4px;
  position: relative;
}
.nav-main > li.active .nav-main-bar,
.nav-main > li:hover .nav-main-bar,
.nav-main > li.active:hover .nav-main-bar,
.nav-main > li:hover:hover .nav-main-bar {
  background: #be0000;
}
.nav-main > li.active .nav-main-bar a,
.nav-main > li:hover .nav-main-bar a,
.nav-main > li.active:hover .nav-main-bar a,
.nav-main > li:hover:hover .nav-main-bar a,
.nav-main > li.active .nav-main-bar a:before,
.nav-main > li:hover .nav-main-bar a:before,
.nav-main > li.active:hover .nav-main-bar a:before,
.nav-main > li:hover:hover .nav-main-bar a:before {
  color: #fff;
}
.nav-main > li.open .nav-main-bar a:before {
  content: ' ';
  background: url("../images/nav_arrow_down.png");
  width: 9px;
  height: 9px;
  margin-top: -5px;
  left: -15px;
}
.nav-main > li:last-child {
  border: none;
}
.nav-main li.new a:after {
  content: '';
  position: absolute;
  top: 4px;
  width: 24px;
  height: 10px;
  background: url("../images/new.gif") 0 0 no-repeat;
}
.nav-main .sub-nav {
  overflow: hidden;
}
.nav-main .sub-nav ul {
  padding: 5px 2px;
}
.nav-main .sub-nav li {
  padding-left: 65px;
  margin-bottom: 2px;
}
.nav-main .sub-nav li:hover,
.nav-main .sub-nav li.active {
  background: #d8d8d8;
}
.nav-main > li {
  border-bottom: 1px solid #dbdbdb;
}
.page-header {
  width: 720px;
  height: 72px;
  position: relative;
}
.page-header.profile {
  background: url("../images/service/header/header_profile.jpg") 0 0 no-repeat;
}
.page-header.change {
  background: url("../images/service/header/header_change.jpg") 0 0 no-repeat;
}
.page-header .service-title {
  position: absolute;
  left: 51px;
  bottom: 13px;
  line-height: 21px;
  font-size: 18px;
}
.page-header .service-title .icon-service {
  margin-right: 6px;
}
.icon-service {
  background: url("../images/service/icon_service.png") 0 0 no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
}
.icon-service.is01 {
  background: url("../images/service/icon_service.png") -26px 0 no-repeat;
}
.icon-service.is02 {
  background: url("../images/service/icon_service.png") -47px 0 no-repeat;
}
.icon-service.is03 {
  background: url("../images/service/icon_service.png") -68px 0 no-repeat;
}
.icon-service.is04 {
  background: url("../images/service/icon_service.png") -89px 0 no-repeat;
}
.icon-service.is05 {
  background: url("../images/service/icon_service.png") -110px 0 no-repeat;
}
.page-banner {
  width: 720px;
  height: 200px;
}
.member-header {
  margin-bottom: 20px;
}
.page-content-head {
  float: left;
  position: relative;
  width: 510px;
  min-height: 90px;
}
.page-content-head .service-table {
  margin: 0;
  position: absolute;
  bottom: 0;
}
.page-content-head.teach {
  width: 410px;
}
.page-content {
  padding: 38px 41px 45px 46px;
  min-height: 400px;
}
.page-content .logo90 {
  margin: 0 25px 0 0;
}
.page-content .welcome {
  color: #868686;
}
.page-content h1 {
  font-size: 19px;
  margin-bottom: 10px;
}
.page-content p {
  line-height: 24px;
}
.page-content .line {
  height: 1px;
  background: #d7d7d7;
  margin: 0 auto;
}
.page-content .tip {
  line-height: 20px;
  margin: 20px 0;
  text-align: center;
  color: #f00;
}
.page-content .tip02 {
  font-size: 14px;
  color: #A3A3A3;
}
.page-content .control {
  margin: 20px 0;
}
.page-content.b {
  border: 1px solid #d7d7d7;
}
.page-content.np {
  padding: 0;
}
.page-content.tp {
  padding: 4px 16px 25px 28px;
}
.page-content.jn {
  padding: 4px 16px 12px 28px;
}
.page-content.jn .control {
  margin: 12px 66px 0 0;
}
.page-form {
  text-align: left;
}
.control {
  text-align: center;
}
.btn-paging {
  display: inline-block;
  background: #feaf03;
  color: #000;
  padding: 6px 8px;
  font-size: 16px;
  margin: 0 1px;
  cursor: pointer;
}
.btn-event-more {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding: 1px 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background: #e00000;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3OTAxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e00000 0%, #790100 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e00000), color-stop(100%, #790100));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e00000 0%, #790100 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e00000 0%, #790100 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e00000 0%, #790100 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e00000 0%, #790100 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#790100', GradientType=0);
  /* IE6-8 */

}
.content {
  text-align: center;
}
.paging {
  font-size: 16px;
}
.service-table {
  border-collapse: separate;
  border-spacing: 2px 6px;
  font-size: 14px;
  margin-left: 116px;
}
.service-table th {
  width: 142px;
  padding-right: 15px;
  color: #fff;
  background: #be0000;
  text-align: right;
  vertical-align: middle;
}
.service-table td {
  text-align: left;
  vertical-align: middle;
}
.service-table input {
  height: auto;
  width: auto;
  background: none;
}
.service-table .rgroup {
  height: 30px;
  padding-left: 8px;
  vertical-align: middle;
}
.service-table .rgroup * {
  vertical-align: middle;
}
.service-table .dt {
  display: inline-block;
  padding: 2px 15px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  height: 26px;
  color: #383838;
  outline: none;
  background: none;
  width: 165px;
  border-radius: 0;
  border: 1px solid #be0000;
}
.service-table .no-style th {
  background: none !important;
}
.service-table .no-style td {
  border: none !important;
}
.service-table .btn-mobile-vali {
  margin-left: 7px;
}
.service-table.black th {
  color: #fff;
  background: #4e4e4e;
}
.service-table.black input,
.service-table.black .dt {
  border: 1px solid #4e4e4e;
}
.service-table.gray th {
  color: #fff;
  background: #c1c1c1;
}
.service-table.gray input,
.service-table.gray .dt {
  border: 1px solid #c1c1c1;
}
.btn-mobile-vali {
  display: inline-block;
  font-size: 12px;
  color: #000;
  padding: 3px;
  border: 1px solid #c1c1c1;
  background: #fefefe;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fefefe 0%, #dbdbdb 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dbdbdb', GradientType=0);
  /* IE6-8 */

}
.content-box {
  padding: 12px 8px;
  min-height: 400px;
}
.page-command {
  padding: 18px 15px 0 0;
  text-align: right;
}
.btn-logout {
  position: relative;
  border-radius: 4px;
  font-size: 17px;
  display: inline-block;
  padding: 7px 0 5px 18px;
  width: 95px;
  text-align: center;
  background: #444444;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #444444 0%, #1c1c1c 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #1c1c1c));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #444444 0%, #1c1c1c 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #444444 0%, #1c1c1c 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #444444 0%, #1c1c1c 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #444444 0%, #1c1c1c 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#1c1c1c', GradientType=0);
  /* IE6-8 */

}
.btn-logout:before {
  content: ' ';
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -10px;
  width: 21px;
  height: 21px;
  background: url("../images/service/icon_service.png") -110px 0 no-repeat;
}
.search_tool {
  text-align: center;
}
.search_tool * {
  vertical-align: middle;
}
.record-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.record-table th,
.record-table td {
  width: auto;
  font-size: 16px;
  vertical-align: middle;
}
.record-table th {
  background: #444;
  color: #fff;
  line-height: 30px;
  border-bottom: 3px solid #fff;
}
.record-table td {
  line-height: 20px;
}
.record-table th:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.record-table tbody {
  text-align: center;
  color: #000;
}
.record-table tbody tr {
  background: #bebebe;
}
.record-table tbody tr:nth-child(2n) {
  background: #ffffff;
}
.page-list {
  padding-top: 20px;
}
.page-list li {
  padding: 20px;
  border-bottom: 1px dashed #898989;
}
.page-list li:last-child {
  border-bottom: none;
}
.page-list .event-item-l {
  height: 105px;
}
.page-list .event-item-l .event-simg {
  margin-right: 20px;
}
.page-list .event-item-r {
  padding-top: 7px;
  height: 105px;
  position: relative;
}
.page-list .event-item-r h2 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 5px;
}
.event-description {
  font-size: 12px;
  line-height: 14px;
}
.event-detail {
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #000;
  margin-bottom: 40px;
}
.event-detail h1 {
  font-size: 24px;
  color: #c20c0b;
  line-height: 24px;
}
.event-detail p {
  margin-bottom: 12px;
}
.event-detail h2 {
  line-height: 20px;
}
.event-detail ol {
  list-style: decimal;
  margin: 2px 0 20px 20px;
}
.event-promo {
  text-align: center;
}
/*news*/
.news_list {
  padding: 1px;
}
.news_list .news_date {
  margin-right: 10px;
}
.news_list li {
  border-bottom: 1px solid #D7D7D7;
  line-height: 31px;
}
.news_bar {
	background: #000;
	line-height:40px;
	color:#fff;
	font-size:15px;
}
.news_bar01 {
	line-height:40px;
	font-size:13px;
	border-bottom: 1px solid #D7D7D7;
}
.news_bar01 li:last-child {
  border: none;
}
.news_bar01 a{
	color:#000;
}
.news_bar01 a:hover{
	color:#e00000;
}
.news_list li a {
  width: 600px;
  color: #000;
  display: inline-block;
  vertical-align: top;
}
.news_list li:hover a {
  color: #fff;
}
.news_list li:hover .news_bar {
  background: #ababab;
}
.news_list li.active .news_date {
  color: #fff;
}
.news_list li.active a {
  color: #fff;
}
.news_list li.active .news_bar {
  background: #000;
}
.news_list li:last-child {
  border: none;
}
.news_date {
  display: inline-block;
  width: 95px;
  text-align: center;
}
.news_title {
  text-align: left;
  font-size: 16px;
}
.news_detail {
  color: #c20e14;
  line-height: 20px;
  padding: 6px 0 6px 114px;
}
.news_detail a.news-more {
  color: #f00;
}
.teach_img {
  float: left;
  margin: 0 25px 25px 0;
  width: 112px;
  height: 112px;
}
.teach_img.ti01 {
  background: url("../images/teach/tea_join01.jpg");
}
.teach_step_out {
  width: 550px;
  margin: 45px auto;
}
.teach_joinstep_img {
  width: 550px;
  height: 524px;
  background: url(/plm/zh-cn/images/teach/tea_join02.gif) 0 0 no-repeat;
}
.pay-icon-p {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.pay-icon-p.atm {
  background: url("../images/teach/pay_img01.png") 0 0 no-repeat;
}
.pay-icon-p.web-atm {
  background: url("../images/teach/pay_img01.png") -30px 0 no-repeat;
}
.pay-icon-p.seven {
  background: url("../images/teach/pay_img01.png") -60px 0 no-repeat;
}
.pay-icon-p.family {
  background: url("../images/teach/pay_img01.png") -90px 0 no-repeat;
}
.pay-icon-p.hi-life {
  background: url("../images/teach/pay_img01.png") -120px 0 no-repeat;
}
.pay-icon-p.ok {
  background: url("../images/teach/pay_img01.png") -150px 0 no-repeat;
}
.teach-header {
  padding: 12px 0 7px 9px;
  line-height: 30px;
}
.teach-header .pay-icon-p {
  margin-right: 15px;
}
.teach-header .teach-tile {
  font-size: 20px;
}
.teach-header .teach-tile .tip02 {
  margin-left: 15px;
}
.teach_seven_img {
  width: 599px;
  height: 450px;
  margin: 46px auto 0;
  background: url("../images/teach/seven/swf.jpg") 0 0 no-repeat;
}
.teach_one_step {
  padding: 18px 0;
}
.teach_step_img {
  float: left;
  margin-right: 16px;
}
.teach_steps {
  width: 100%;
}
.teach_steps td {
  vertical-align: middle;
  padding: 18px 0;
}
.step_tag {
  display: inline-block;
  background: #A80001;
  padding: 3px 5px;
  text-align: center;
  color: #FFF;
}
.step_content h1 {
  font-size: 19px;
  margin-bottom: 14px;
  line-height: 30px;
}
.step_content p {
  font-size: 16px;
  line-height: 20px;
}
.step_content .step_tag {
  margin-bottom: 8px;
}
.join_license {
  height: 500px;
  background: #f0f0f0;
  font-size: 12px;
  line-height: 20px;
  padding: 16px 36px;
  margin: 6px auto 25px;
  overflow-y: scroll;
}
.join_agreement {
  text-align: right;
}
.join_agreement * {
  vertical-align: bottom;
}
.step_main {
  margin: 0 0 0 30px;
}
.step_label {
  position: relative;
  background: #a7a7a7;
  color: #fff;
  width: 136px;
  height: 35px;
  padding: 18px 0px 17px 22px;
  margin-bottom: 1px;
  border-radius: 3px;
}
.step_label span {
  display: inline-block;
  vertical-align: bottom;
}
.step_label .step_num {
  margin-right: 9px;
}
.step_label.active {
  background: #c40001;
  width: 184px;
  margin: 2px 0 2px 13px;
  height: 43px;
  padding: 22px 0px 15px 14px;
}
.step_label.active .step_num {
  font-size: 43px;
  line-height: 39px;
}
.step_label.active .step_text {
  font-size: 18px;
}
.step_label.active:after {
  content: " ";
  position: absolute;
  right: -14px;
  top: 50%;
  margin-top: -6px;
  border-color: rgba(0, 0, 0, 0);
  border-left: 14px solid #c40001;
  border-top: 7px solid;
  border-bottom: 7px solid;
}
.step_num {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 35px;
  line-height: 32px;
}
.step_text {
  font-size: 12px;
}
.regist-form {
  font-size: 14px;
  margin: 54px 0 40px;
  text-align: center;
}
.regist-form td,
.regist-form th,
.regist-form label,
.regist-form input,
.regist-form img {
  vertical-align: middle;
}
.regist-form th {
  text-align: right;
}
.regist-form td {
  padding-left: 10px;
  text-align: left;
}
.regist-form input[type=text],.regist-form input[type=password] {
  background: transparent;
  border: 1px solid #595959;
  border-radius: 0;
  width: 140px;
  padding: 3px 4px;
  text-align: left;
  color: #444;
}
.regist-form input[type=password]{
	height:26px;
	line-height:26px;
}
.regist-form input[type=text].code {
  width: 60px;
}
.regist-form input[type=text].acc {
  width: 120px;
}
.btn-form .join_tip_box {
  position: absolute;
  top: 48px;
  left: 3px;
}
.btn-form:hover .join_tip_box {
  display: inline-block;
}
.join_tip_box {
  display: none;
  background: #000;
  border-radius: 3px;
  color: #FFF;
  font-size: 12px;
  padding: 6px 11px 8px 17px;
  width: 170px;
  line-height: 18px;
  text-align: left;
}
.join_tip_box.arrow-top:before {
  content: ' ';
  position: absolute;
  top: -14px;
  left: 8px;
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 14px solid #000;
  border-left: 7px solid;
  border-right: 7px solid;
}
